p {
  font-size: 17px;
}

@media (min-width: 640px) {
  section {
    padding: 20px 100px 20px 100px;
    margin: 20px;
  }
}

/* @media (min-width: 640px) {
  section {
    padding: 20px 100px 20px 100px;
    margin: 10px;
  }
} */

@media (min-width: 720px) {
  section {
    padding: 30px 100px 30px 100px;
    margin: 30px;
  }
}

.page-title{
  margin-bottom: 30px;
}

.post-item {
  display: block;
  min-width: 100%;
  width: 100%;
  padding: 20px;
}

.post-item-index {
  margin-bottom: 40px;
}

.button-section {
  position: relative;
  display: block;
}

#editForm {
  position: absolute;
  top: 0;
  left: 100px;
}

.blog-preview-img {
  width: 100%;
  height: 100%;
}

.category-box {
  background-color: #ddd;
  padding: 30px 50px 30px 50px;
  /* margin: 10px; */
  /* width: 100%;
  min-width: 100%;
  max-width: 100%; */
  display: block;
  text-align: center;
}

.tint {
  width: 100%;
  height: 100%;
}

.category-box:hover {
  background-color: #ccc;
}
